{% extends "base.html" %}
{% block title %}
    Create Profile
{% endblock %}
{% block container %}
    <h1>Create Your Profile</h1>
    <br>
    <form action="" method="post">
        <label>
            <input class="form-control" type="number" placeholder="Age" name="age">
        </label>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" value="male">
            <label class="form-check-label" for="male">
                Male
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="female">
            <label class="form-check-label" for="female">
                Female
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="other" value="other">
            <label class="form-check-label" for="other">
                Other
            </label>
        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}